@using Microsoft.AspNetCore.Authentication;
@using Microsoft.IdentityModel.Protocols.OpenIdConnect;
@{
    ViewData["Title"] = "Secure";
}
<h2>@ViewData["Title"]</h2>
<strong>The page require an authenticated user</strong>

<p>
    <h4>ID token claims</h4>
    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd style="padding-left: 10px">@claim.Value</dd>
        }
    </dl>

    @{
        var idToken = await ViewContext.HttpContext.GetTokenAsync(OpenIdConnectParameterNames.IdToken);
        var accessToken = await ViewContext.HttpContext.GetTokenAsync(OpenIdConnectParameterNames.AccessToken);
        var refreshToken = await ViewContext.HttpContext.GetTokenAsync(OpenIdConnectParameterNames.RefreshToken);
    }
    <h4>User Tokens</h4>
    <dl>
        <form method="post" action="https://www.foxids.com/tools/jwt" target="_blank">
            <input type="hidden" name="jwt" value="@idToken" />
            <dt>ID Token&nbsp;&nbsp;-<input class="btn btn-link pt-0" type="submit" value="Decode ID Token"></></dt>
            <dd>@idToken</dd>
        </form>

        <form method="post" action="https://www.foxids.com/tools/jwt" target="_blank">
            <input type="hidden" name="jwt" value="@accessToken" />
            <dt>Access Token&nbsp;&nbsp;-<input class="btn btn-link pt-0" type="submit" value="Decode Access Token"></></dt>
            <dd>@accessToken&nbsp;(<a href="~/Home/CallUserInfo">show claims</a>)</dd>
        </form>

        <dt>Refresh Token</dt>
        <dd>@refreshToken</dd>
    </dl>
</p>
