@{
    ViewBag.Title = "Default Page";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <h2>Public JWK certificate</h2>
        <pre>@ViewBag.PublicCertificate</pre>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>The user session</h2>
        @{
            var session = ViewBag.Session as IdPSession;
        }
        <div>
            @using (Html.BeginForm("SingleLogout", "Saml", FormMethod.Post, new { id = "singleLogoutForm", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group button-group">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary">Refresh</a>
                    @if (session != null)
                    {
                        <input type="submit" value="Single Logout" class="btn btn-primary" />
                    }
                    else
                    {
                        <input type="submit" value="Single Logout" class="btn btn-primary" disabled="disabled" />
                    }
                </div>
            }
        </div>
        @if (session != null)
        {
            <p>
                <strong>NameIdentifier</strong> 
                <br /> 
                <span style="padding-left: 10px">@session.NameIdentifier</span> 
                <br />
                <strong>UPN</strong> <br /> <span style="padding-left: 10px">@session.Upn</span> <br />
                <strong>Email</strong> <br /> <span style="padding-left: 10px">@session.Email</span> <br />
                <strong>SessionIndex</strong> <br /> <span style="padding-left: 10px">@session.SessionIndex</span> <br />
            </p>
        }
    </div>
</div>